In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("./ant-learn-python/5分钟学会Python爬取天气数据/beijing_tianqi_2018.csv")

In [3]:
df1

            ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0    2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1    2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2    2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3    2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4    2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1
..          ...    ...    ...    ...       ...    ...  ...     ...       ...
360  2018-12-27    -5℃   -12℃   多云~晴       西北风     3级   48       优         1
361  2018-12-28    -3℃   -11℃      晴       西北风     3级   40       优         1
362  2018-12-29    -3℃   -12℃      晴       西北风     2级   29       优         1
363  2018-12-30    -2℃   -11℃   晴~多云       东北风     1级   31       优         1
364  2018-12-31    -2℃   -10℃     多云       东北风     1级   56       良         2

[365 rows x 9 columns]

In [4]:
df1["bWendu"] = df1["bWendu"].astype(str).str.replace("℃", "").astype('int32')
df1["yWendu"] = df1["yWendu"].astype(str).str.replace("℃", "").astype('int32')

In [84]:
df1.aqi.astype('int32').dtype
# df1['tianqi'].astype(str).dtypes

dtype('int32')

In [85]:
df1.dtypes

ymd          object
bWendu        int32
yWendu        int32
tianqi       object
fengxiang    object
fengli       object
aqi           int64
aqiInfo      object
aqiLevel      int64
dtype: object

### 1. 汇总统计

In [86]:
# 提取所有数字列统计结果
df1[['bWendu', 'yWendu','aqi','aqiLevel']].describe()

           bWendu      yWendu         aqi    aqiLevel
count  365.000000  365.000000  365.000000  365.000000
mean    18.665753    8.358904   82.183562    2.090411
std     11.858046   11.755053   51.936159    1.029798
min     -5.000000  -12.000000   21.000000    1.000000
25%      8.000000   -3.000000   46.000000    1.000000
50%     21.000000    8.000000   69.000000    2.000000
75%     29.000000   19.000000  104.000000    3.000000
max     38.000000   27.000000  387.000000    6.000000

In [6]:
# 提取所有数字列统计结果
df1.describe()

              aqi    aqiLevel
count  365.000000  365.000000
mean    82.183562    2.090411
std     51.936159    1.029798
min     21.000000    1.000000
25%     46.000000    1.000000
50%     69.000000    2.000000
75%    104.000000    3.000000
max    387.000000    6.000000

In [48]:
# 查看单个 series的数据
df1['aqi'].mean()

82.18356164383562

In [49]:
df1['aqi'].max()

387

In [50]:
df1['aqi'].min()

21

### 2.唯一去重和按值取数

#### 2.1 唯一性去重

In [52]:
df1['fengxiang'].unique()

array(['东北风', '北风', '西北风', '西南风', '南风', '东南风', '东风', '西风'], dtype=object)

In [53]:
df1['tianqi'].unique()

array(['晴~多云', '阴~多云', '多云', '阴', '多云~晴', '多云~阴', '晴', '阴~小雪', '小雪~多云',
       '小雨~阴', '小雨~雨夹雪', '多云~小雨', '小雨~多云', '大雨~小雨', '小雨', '阴~小雨',
       '多云~雷阵雨', '雷阵雨~多云', '阴~雷阵雨', '雷阵雨', '雷阵雨~大雨', '中雨~雷阵雨', '小雨~大雨',
       '暴雨~雷阵雨', '雷阵雨~中雨', '小雨~雷阵雨', '雷阵雨~阴', '中雨~小雨', '小雨~中雨', '雾~多云',
       '霾'], dtype=object)

In [54]:
df1['fengli'].unique()

array(['1-2级', '4-5级', '3-4级', '2级', '1级', '3级'], dtype=object)

### 2.2 按值计数

In [55]:
df1['fengxiang'].value_counts()

fengxiang
南风     92
西南风    64
北风     54
西北风    51
东南风    46
东北风    38
东风     14
西风      6
Name: count, dtype: int64

In [56]:
df1['fengli'].value_counts()

fengli
1-2级    236
3-4级     68
1级       21
4-5级     20
2级       13
3级        7
Name: count, dtype: int64

In [57]:
df1['tianqi'].value_counts()

tianqi
晴         101
多云         95
多云~晴       40
晴~多云       34
多云~雷阵雨     14
多云~阴       10
雷阵雨         8
小雨~多云       8
阴~多云        8
雷阵雨~多云      7
小雨          6
多云~小雨       5
阴           4
雷阵雨~中雨      4
中雨~小雨       2
中雨~雷阵雨      2
阴~小雨        2
霾           2
大雨~小雨       1
阴~雷阵雨       1
小雨~雨夹雪      1
雷阵雨~大雨      1
小雨~阴        1
小雨~大雨       1
暴雨~雷阵雨      1
小雪~多云       1
小雨~雷阵雨      1
雷阵雨~阴       1
阴~小雪        1
小雨~中雨       1
雾~多云        1
Name: count, dtype: int64

In [65]:
df1['aqi'].cov(df1['aqiLevel'])

50.74984193888302